{% extends "main.html" %}
{% block content %}
{% include "publicheader.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<a href="{{url_for('showCategoryItems', category_id = category.id)}}"> 
				<h5> < Back to {{category.name}}  </h5> 
			</a>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="details-header">
				<h2> {{item.name}} </h2>
			</div>

			

			<div class="details">
				<h5> {{item.date_added}} by {{item.user_id}}</h5>
				<p> Description : {{item.description}} </p>
				<br>
			</div>

		</div>
	</div>

{% endblock %}
